@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
.container {
  display: flex;
  justify-content: center;
}
.content {
  max-width: 70rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.form-label {
  margin-bottom: 1rem;
}
.city-title {
  display: block;
  font-weight: 400;
}
.temperature {
  margin-top: 2rem;
  .weather-icon {
    display: flex;
    align-items: center;
    font-size: 3rem;
    display: block;
    img {
      height: 3rem;
    }
  }
}